@using GitRepoInitialTest.Controllers
@{
	ViewData["Title"] = "Managing";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4 class="text-danger">Enter or changing the content and send to the <a href="https://git-scm.com/">Git </a>repo (local)</h4>

<div class="row">
	@using (Html.BeginForm("ManagingPOST", "Content", new { id = "search-fld", actionName = "searchValue" }, FormMethod.Post, true, new { @class = "header-search pull-left" }))
	{
		@Html.AntiForgeryToken()
		<textarea rows="10" cols="80" placeholder="Text area" type="text" id="search-fld" name="searchValue"></textarea>
		<div>
			<button type="submit" class="btn btn-primary">Save Content (Info test)</button>
		</div>
		<div class="page-header">
			<strong>GIT URL / Copy to local:</strong><input class="text form-control" placeholder="Enter valid Git url">
		</div>
		<div>
			<button type="submit" class="btn btn-warning">Save specific url to GIT</button>
		</div>
		
	}
</div>

<script type="text/javascript">

</script>